<a href="https://colab.research.google.com/github/NicolePrata/DiplomadoTareas/blob/main/Proyecto_NicolePrata.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
df = pd.read_csv('/content/dummy_data.csv')
df

,age,gender,time_spent,platform,interests,location,demographics,profession,income,indebt,isHomeOwner,Owns_Car
0,56,male,3,Instagram,Sports,United Kingdom,Urban,Software Engineer,19774,True,False,False
1,46,female,2,Facebook,Travel,United Kingdom,Urban,Student,10564,True,True,True
2,32,male,8,Instagram,Sports,Australia,Sub_Urban,Marketer Manager,13258,False,False,False
3,60,non-binary,5,Instagram,Travel,United Kingdom,Urban,Student,12500,False,True,False
4,25,male,1,Instagram,Lifestlye,Australia,Urban,Software Engineer,14566,False,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...
995,22,female,8,Instagram,Lifestlye,United Kingdom,Rural,Marketer Manager,18536,False,True,False
996,40,non-binary,6,YouTube,Travel,United Kingdom,Rural,Software Engineer,12711,True,False,False
997,27,non-binary,5,YouTube,Travel,United Kingdom,Rural,Student,17595,True,False,True
998,61,female,4,YouTube,Sports,Australia,Sub_Urban,Marketer Manager,16273,True,True,False
999,19,female,8,YouTube,Travel,Australia,Rural,Student,16284,False,True,False

In [ ]:
df.gender.unique()

array(['male', 'female', 'non-binary'], dtype=object)

In [ ]:
df.platform.unique()

array(['Instagram', 'Facebook', 'YouTube'], dtype=object)

In [ ]:
df.location.unique()

array(['United Kingdom', 'Australia', 'United States'], dtype=object)

In [ ]:
df.profession.unique()

array(['Software Engineer', 'Student', 'Marketer Manager'], dtype=object)

In [ ]:
df.age.mean()

40.986

In [ ]:
df.age.min()

18

In [ ]:
df.age.max()

64

In [ ]:
df1=pd.DataFrame(df)

In [ ]:
df1

,age,gender,time_spent,platform,interests,location,demographics,profession,income,indebt,isHomeOwner,Owns_Car
0,56,male,3,Instagram,Sports,United Kingdom,Urban,Software Engineer,19774,True,False,False
1,46,female,2,Facebook,Travel,United Kingdom,Urban,Student,10564,True,True,True
2,32,male,8,Instagram,Sports,Australia,Sub_Urban,Marketer Manager,13258,False,False,False
3,60,non-binary,5,Instagram,Travel,United Kingdom,Urban,Student,12500,False,True,False
4,25,male,1,Instagram,Lifestlye,Australia,Urban,Software Engineer,14566,False,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...
995,22,female,8,Instagram,Lifestlye,United Kingdom,Rural,Marketer Manager,18536,False,True,False
996,40,non-binary,6,YouTube,Travel,United Kingdom,Rural,Software Engineer,12711,True,False,False
997,27,non-binary,5,YouTube,Travel,United Kingdom,Rural,Student,17595,True,False,True
998,61,female,4,YouTube,Sports,Australia,Sub_Urban,Marketer Manager,16273,True,True,False
999,19,female,8,YouTube,Travel,Australia,Rural,Student,16284,False,True,False

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   age           1000 non-null   int64
 1   gender        1000 non-null   object
 2   time_spent    1000 non-null   int64
 3   platform      1000 non-null   object
 4   interests     1000 non-null   object
 5   location      1000 non-null   object
 6   demographics  1000 non-null   object
 7   profession    1000 non-null   object
 8   income        1000 non-null   int64
 9   indebt        1000 non-null   bool
 10  isHomeOwner   1000 non-null   bool
 11  Owns_Car      1000 non-null   bool
dtypes: bool(3), int64(3), object(6)
memory usage: 73.4+ KB

In [ ]:
df1.gender.unique()

array(['male', 'female', 'non-binary'], dtype=object)

In [ ]:
df[df.gender == 'female'].profession.value_counts()

Software Engineer    115
Student              108
Marketer Manager     108
Name: profession, dtype: int64

In [ ]:
df[df.gender == 'male'].profession.value_counts()

Marketer Manager     120
Software Engineer    116
Student              101
Name: profession, dtype: int64

In [ ]:
df[df.gender == 'non-binary'].profession.value_counts()

Marketer Manager     127
Software Engineer    105
Student              100
Name: profession, dtype: int64

In [ ]:
df[df.gender == 'non-binary'].interests.value_counts()

Sports       112
Lifestlye    111
Travel       109
Name: interests, dtype: int64

In [ ]:
df[df.gender == 'male'].interests.value_counts()

Travel       119
Sports       110
Lifestlye    108
Name: interests, dtype: int64

In [ ]:
df[df.gender == 'female'].interests.value_counts()

Lifestlye    122
Sports       109
Travel       100
Name: interests, dtype: int64

In [ ]:
df[df.gender == 'female'].location.value_counts()

United Kingdom    115
Australia         114
United States     102
Name: location, dtype: int64

In [ ]:
df[df.gender == 'male'].location.value_counts()

United Kingdom    115
Australia         113
United States     109
Name: location, dtype: int64

In [ ]:
df[df.gender == 'non-binary'].location.value_counts()

Australia         125
United States     108
United Kingdom     99
Name: location, dtype: int64

In [ ]:
df[df.gender == 'non-binary'].platform.value_counts()

YouTube      123
Facebook     109
Instagram    100
Name: platform, dtype: int64

In [ ]:
df[df.gender == 'male'].platform.value_counts()

Instagram    128
Facebook     113
YouTube       96
Name: platform, dtype: int64

In [ ]:
df[df.gender == 'female'].platform.value_counts()

Instagram    135
YouTube      111
Facebook      85
Name: platform, dtype: int64

In [ ]:
df[df.gender == 'female'].isHomeOwner.value_counts()

True     172
False    159
Name: isHomeOwner, dtype: int64

In [ ]:
df[df.gender == 'male'].isHomeOwner.value_counts()

False    171
True     166
Name: isHomeOwner, dtype: int64

In [ ]:
df[df.gender == 'non-binary'].isHomeOwner.value_counts()

True     170
False    162
Name: isHomeOwner, dtype: int64

In [ ]:
df[df.gender == 'non-binary'].Owns_Car.value_counts()

False    168
True     164
Name: Owns_Car, dtype: int64

In [ ]:
df[df.gender == 'male'].Owns_Car.value_counts()

True     191
False    146
Name: Owns_Car, dtype: int64

In [ ]:
df[df.gender == 'female'].Owns_Car.value_counts()

True     184
False    147
Name: Owns_Car, dtype: int64

In [ ]:
df[df.gender == 'female'].time_spent.value_counts()

9    47
3    42
4    40
7    38
5    36
8    34
6    33
2    32
1    29
Name: time_spent, dtype: int64

In [ ]:
df[(df.gender == 'female') & (df.location == 'Australia')]['time_spent'].mean()

5.324561403508772

In [ ]:
df[(df.gender == 'female') & (df.location == 'United Kingdom')]['time_spent'].mean()

5.026086956521739

In [ ]:
df[(df.gender == 'female') & (df.location == 'United States')]['time_spent'].mean()

5.2254901960784315

In [ ]:
df[(df.gender == 'male') & (df.location == 'United States')]['time_spent'].mean()

4.7889908256880735

In [ ]:
df[(df.gender == 'male') & (df.location == 'United Kingdom')]['time_spent'].mean()

4.591304347826087

In [ ]:
df[(df.gender == 'male') & (df.location == 'Australia')]['time_spent'].mean()

5.088495575221239

In [ ]:
df[(df.gender == 'non-binary') & (df.location == 'Australia')]['time_spent'].mean()

5.24

In [ ]:
df[(df.gender == 'non-binary') & (df.location == 'United Kingdom')]['time_spent'].mean()

5.141414141414141

In [ ]:
df[(df.gender == 'non-binary') & (df.location == 'United States')]['time_spent'].mean()

4.833333333333333

In [ ]:
df[(df.gender == 'non-binary') & (df.location == 'United States')]['Owns_Car'].value_counts()

False    58
True     50
Name: Owns_Car, dtype: int64

In [ ]:
df[(df.gender == 'non-binary') & (df.location == 'Australia')]['Owns_Car'].value_counts()

True     65
False    60
Name: Owns_Car, dtype: int64

In [ ]:
df[(df.gender == 'non-binary') & (df.location == 'United Kingdom')]['Owns_Car'].value_counts()

False    50
True     49
Name: Owns_Car, dtype: int64

In [ ]:
df[(df.gender == 'male') & (df.location == 'Australia')]['Owns_Car'].value_counts()

True     61
False    54
Name: Owns_Car, dtype: int64

In [ ]:
df[(df.gender == 'male') & (df.location == 'Australia')]['Owns_Car'].value_counts()

True     73
False    40
Name: Owns_Car, dtype: int64

In [ ]:
df[(df.gender == 'male') & (df.location == 'United States')]['Owns_Car'].value_counts()

True     57
False    52
Name: Owns_Car, dtype: int64

In [ ]:
df[(df.gender == 'female') & (df.location == 'United States')]['Owns_Car'].value_counts()

False    51
True     51
Name: Owns_Car, dtype: int64

In [ ]:
df[(df.gender == 'female') & (df.location == 'Australia')]['Owns_Car'].value_counts()

True     59
False    55
Name: Owns_Car, dtype: int64

In [ ]:
df[(df.gender == 'female') & (df.location == 'United Kingdom')]['Owns_Car'].value_counts()

True     74
False    41
Name: Owns_Car, dtype: int64

In [ ]:
df[(df.gender == 'female') & (df.location == 'United Kingdom')]['isHomeOwner'].value_counts()

True     61
False    54
Name: isHomeOwner, dtype: int64

In [ ]:
df[(df.gender == 'female') & (df.location == 'Australia')]['isHomeOwner'].value_counts()

True     61
False    53
Name: isHomeOwner, dtype: int64

In [ ]:
df[(df.gender == 'female') & (df.location == 'United States')]['isHomeOwner'].value_counts()

False    52
True     50
Name: isHomeOwner, dtype: int64

In [ ]:
df[(df.gender == 'male') & (df.location == 'United Kingdom')]['isHomeOwner'].value_counts()

True     61
False    54
Name: isHomeOwner, dtype: int64

In [ ]:
df[(df.gender == 'male') & (df.location == 'Australia')]['isHomeOwner'].value_counts()

False    65
True     48
Name: isHomeOwner, dtype: int64

In [ ]:
df[(df.gender == 'male') & (df.location == 'United States')]['isHomeOwner'].value_counts()

True     57
False    52
Name: isHomeOwner, dtype: int64

In [ ]:
df[(df.gender == 'non-binary') & (df.location == 'United States')]['isHomeOwner'].value_counts()

False    59
True     49
Name: isHomeOwner, dtype: int64

In [ ]:
df[(df.gender == 'non-binary') & (df.location == 'United Kingdom')]['isHomeOwner'].value_counts()

True     53
False    46
Name: isHomeOwner, dtype: int64

In [ ]:
df[(df.gender == 'non-binary') & (df.location == 'Australia')]['isHomeOwner'].value_counts()

True     68
False    57
Name: isHomeOwner, dtype: int64

In [ ]:
df[(df.gender == 'non-binary') & (df.location == 'Australia')]['income'].mean()

15136.168

In [ ]:
df[(df.gender == 'female') & (df.location == 'Australia')]['income'].mean()

15062.61403508772

In [ ]:
df[(df.gender == 'male') & (df.location == 'Australia')]['income'].mean()

14900.973451327434

In [ ]:
df[(df.gender == 'male') & (df.location == 'United Kingdom')]['income'].mean()

14939.773913043478

In [ ]:
df[(df.gender == 'female') & (df.location == 'United Kingdom')]['income'].mean()

15390.765217391305

In [ ]:
df[(df.gender == 'non-binary') & (df.location == 'United Kingdom')]['income'].mean()

15020.080808080807

In [ ]:
df[(df.gender == 'non-binary') & (df.location == 'United States')]['income'].mean()

14642.703703703704

In [ ]:
df[(df.gender == 'female') & (df.location == 'United States')]['income'].mean()

15092.29411764706

In [ ]:
df[(df.gender == 'male') & (df.location == 'United States')]['income'].mean()

14917.688073394496